{% extends 'base.html' %}

{% block title %} -main {% endblock %}

{% block content %}

<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <div class="chapter_header">Welcome, {{user.get_username}}</div>
        <form id = "Start Learning" method="POST">
        <button type="submit" name="chapter" formaction="{% url 'main_app:chapter' %}">Start Learning</button>
                {% csrf_token %}
                <select name="trans_lang_option">
                    <option value="vi">vietnam</option>
                    <option value="zh-CN">chinese</option>
                    <option value="en">English</option>
                </select>
        </form>
    {% else %}
    <h1>You must log in to use the service</h1>
    {% endif %}
</body>
</html>

{% endblock %}